<div class="demo-screenshots is-medium">
  <div class="slider" data-slick='{ "accessibility": false
                                  , "slidesToShow": 1
                                  , "slidesToScroll": 1
                                  , "arrows": false
                                  }'>
    <div class="container">
      <%= image_tag("mr_robot.png", class: 'thumbnails' ) %>
    </div>
    <div class="container">
      <%= image_tag("mr_robot.png", class: 'thumbnails' ) %>
    </div>
    <div class="container">
      <%= image_tag("mr_robot.png", class: 'thumbnails' ) %>
    </div>
  </div>
</div>

<div class="form-upload is-small">
  <%= form_for @subtitle, url: subtitre_index_path, html: { class: "" } do |f| %>
    <%- Subtitle.level.options.each do |label, key| %>
      <%= f.radio_button(:level, key) %>
      <%- active = (@subtitle.level == key) ? "is-active is-warning" : "" %>
      <%= f.label("level_#{key}", "#{label}", class: "label-level-selection button is-medium #{active}", id: "label-level-#{key}") %>
    <% end %>

    <br/>
    <br/>

    <div class="field has-addons has-addons-centered">
      <p class="control button is-static is-medium">
        <span class="icon is-medium is-left">
          <i class="fa fa-globe"></i>
        </span>
        <span>
          <%= I18n.t 'sentence.select_language' %> :
        </span>
      </p>
      <p id="dropdown-language" class="control has-icons-left">
        <span class="select is-medium">
          <%= f.select(:translate_to, Subtitle.translate_to.options) %>
        </span>
      </p>
    </div>


    <br/>

    <a id="fake-upload-button"
       class="button is-large">
      <span class="icon"><i class="fa fa-file-text-o"></i></span>
      <span><%= I18n.t 'sentence.select_subtitle_file' %></span>
    </a>
    <%= f.file_field :file, class: "button is-large" %>
  <% end %>
</div>
