<div class="demo-screenshots is-medium">
  <div class="slider" data-slick='{ "accessibility": false
                                  , "slidesToShow": 1
                                  , "slidesToScroll": 1
                                  , "arrows": false
                                  }'>
    <div class="container">
      <%= image_tag("mr_robot.png", class: 'thumbnails' ) %>
    </div>
  </div>
</div>

<div class="form-upload is-small">
  <%= form_for(@subtitle,
               url: subtitre_index_path,
               html: { id: "new_subtitle", class: "" }) do |f| %>
    <br/>
    <br/>

    <div class="field has-addons has-addons-centered">
      <p class="control button is-static is-medium">
        <span class="icon is-medium is-left">
          <i class="fa fa-language"></i>
        </span>
        <span>
          <%= I18n.t 'sentence.select_orig_language' %> :
        </span>
      </p>
      <p id="dropdown-language" class="control has-icons-left">
        <span class="select is-medium">
          <%= f.select(:translate_from, Subtitle.translate_from.options) %>
        </span>
      </p>
      <p class="control button is-static is-medium">
        <span>
          <%= I18n.t 'sentence.select_dest_language' %> :
        </span>
      </p>
      <p id="dropdown-language" class="control has-icons-left">
        <span class="select is-medium">
          <%= f.select(:translate_to, Subtitle.translate_to.options) %>
        </span>
      </p>
    </div>

    <br/>

    <a id="fake-upload-button"
       class="button is-large">
      <span class="icon"><i class="fa fa-file-text-o"></i></span>
      <span><%= I18n.t 'sentence.select_subtitle_file' %></span>
    </a>
    <%= f.file_field(:file,
                     id: "file_input",
                     class: "hidden") %>

    <%= f.submit(:submit,
                 id: 'submit',
                 class: "hidden",
                 data: { disable_with: false }) %>
  <% end %>
</div>
