<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= display_meta_tags site: 'Subtitre' %>
  </head>

  <body id="page-top">

    <%= render(partial: "subtitre/modal") %>

    <%= render(partial: "common/navigation")%>

    <header class="masthead">
      <%= render(partial: "home/landing_view") %>
    </header>

    <section class="bg-primary" id="about">
      <%= render(partial: "home/about") %>
    </section>

    <section id="services">
      <%= render(partial: "home/available_languages") %>
    </section>

    <section class="p-0" id="portfolio">
      <%= render(partial: "home/portfolio") %>
    </section>

    <div class="call-to-action bg-dark">
      <%= render(partial: "common/footer") %>
    </div>
  </body>
</html>
