<!DOCTYPE html>
<html>
  <head>
    <title>Hal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <style media="screen" type="text/css">
    </style>
  </head>

  <body>
    <section class="hero is-fullheight">

      <div class="hero-head" id="header">
        <%= render partial: 'layouts/header' %>
      </div>

      <div id="body" class="hero-body has-text-centered">
        <div class="container">
          <%= yield %>
        </div>
      </div>

      <%= render partial: 'layouts/footer' %>

    </section>
  </body>
</html>
