<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= display_meta_tags site: 'Subtitre' %>
  </head>

  <body>
    <section class="hero is-fullheight">

      <div class="hero-head" id="header">
        <%= render partial: 'layouts/header' %>
      </div>

      <div id="body" class="hero-body has-text-centered">
        <div class="container">
          <%= yield %>
        </div>
      </div>

      <%= render partial: 'layouts/footer' %>

    </section>
  </body>
</html>
