<%= form_for(@subtitle,
             url: subtitre_index_path,
             html: { id: "new_subtitle", class: "" }) do |f| %>


  <div class="modal-body">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="col-form-label">Translate From :</label>
        <%= f.select(:translate_from,
                     Subtitle.translate_from.options,
                     {},
                     { class: "form-control" }) %>
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">To :</label>
        <%= f.select(:translate_to,
                     Subtitle.translate_to.options,
                     {},
                     { class: "form-control" }) %>
      </div>
    </div>

    <hr class="primary">

    <div class="form-group">
      <label for="exampleFormControlFile1">Upload a Subtitle File</label>
      <%= f.file_field(:file,
                       id: "file_input",
                       class: "form-control-file") %>
      <i class="loading-icon fa fa-spinner fa-pulse fa-3x fa-fw invisible"></i>
    </div>
  </div>

  <%= f.submit(:submit,
               id: 'submit',
               class: "invisible",
               data: { disable_with: false }) %>

<% end %>
