<%= form_for(@subtitle,
             url: subtitre_index_path,
             html: { id: "new_subtitle", class: "" }) do |f| %>


  <div class="modal-body">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="col-form-label">Translate From :</label>
        <%= f.select(:translate_from,
                     Subtitle.translate_from.options,
                     {},
                     { class: "form-control" }) %>
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label">To :</label>
        <%= f.select(:translate_to,
                     Subtitle.translate_to.options,
                     {},
                     { class: "form-control" }) %>
      </div>
    </div>

    <hr class="primary">

    <p class="bold text-center">
      <b>Translation Level</b>
    </p>

    <div class="form-group text-center">
      <% Subtitle.level.options.each do |key, label| %>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <%= f.radio_button(:level, label) %> <%= label.capitalize %>
          </label>
        </div>
      <% end %>

      <p id="level-explanation" class="text-center">
      </p>

      <hr class="primary">

      <div class="form-group text-center">
        <p for="exampleFormControlFile1">
          <b>Subtitle File</b>
        </p>

        <label class="custom-file">
          <%= f.file_field(:file,
                           id: "file_input",
                           class: "custom-file-input") %>
          <span class="custom-file-control"></span>
        </label>

        <i class="loading-icon fa fa-spinner fa-pulse fa-3x fa-fw invisible"></i>
        <p class="loading-icon invisible text-center">
          Translating a subtitle can take up to 20 seconds
        </p>

      </div>
    </div>

    <%= f.submit(:submit,
                 id: 'submit',
                 class: "invisible",
                 data: { disable_with: false }) %>

<% end %>
